<div class="row">
    <div class="col-md-6">
        <div> {{vm.connected1?'Đã kết nối' : 'Đang kết nối'}}
        </div>
        <div ng-show="!vm.connected1 || vm.wait1" class="loader" aria-hidden="true"></div>
        <br>
        <br>
        <br>
        <br>
        <strong ng-show="vm.wait1">Vui lòng chờ...</strong>
        <br>
        <div>
           
            
            <div class="panel panel-yellow">
                <div class="panel-heading">CONTROL TABLE</div>
                <div class="panel-success pan">
                    <form class="form-horizontal ng-pristine ng-valid form-validate">
                        <div class="form-body pal">
                            <table class="table table-hover table-striped table-bordered table-advanced tablesorter">
                                <thead>
                                    
                                    
                                      <tr bgcolor="violet">
                                         <div class = "panel-success">TƯ ÐỘNG / BẰNG TAY</div>
                                                                                                                                                             
                                        
                                                <label class="switch">
                                                            <input type="checkbox" ng-disabled="!vm.connected1 || vm.wait1" ng-checked="vm.manual_1"  ng-click="vm.mode1Change()">
                                                             <div class="slider round"></div>
                                                </label>
                                                                         
                                        
                                    
                                    
                                   

                                           
                                         <div class = "panel-success">GIÁ TRỊ / THÔNG SỐ</div>
                                     <table border="1px">
                                     <tbody>
                                                                                                                   
                                        <tr >
                                            
                                           <th bgcolor="violet">NHIỆT ÐỘ</th>
                                           <td>{{vm.zone_1[0]}}</td>
                                                                                                    
                                         </tr>
                                 
                                   
                                         <tr>
                                             <th bgcolor="violet">ÐỘ ẨM</th>
                                             <td>{{vm.zone_1[1]}}</td>
                                             
                                         </tr>
                                 
                                         <tr>
                                             <th bgcolor="violet">ÐỘ ẨM ÐẤT</th>
                                             <td>{{vm.zone_1[2]}}</td>
                                         </tr>
                                      </tbody>
                                        </table>
                                         
                                          
                                        <table border="1px">
                                       <div class="panel-success">TRẠNG THÁI/ĐIỀU KHIỂN</div>   
                                       <tbody>     
                                        <tr bgcolor="yellow">
                                            
                                           <th>ÐÈN</th>
                                           <th>BƠM</th>
                                           <th>QUẠT</th>
                                           <th>PHUN SƯƠNG</th>
                                                                   
                                         </tr>
                                 
                                    
                                          
                                    
                                         <tr>       
                                              <td> <label class="switch">
                                                            <input type="checkbox" ng-disabled="!vm.connected1 || vm.wait1 || !vm.manual_1" ng-checked="vm.light_1" ng-click="vm.light1Change()">
                                                             <div class="slider round"></div>
                                                           </label></td>
                                                                             <td>
                                                                                 <label class="switch">
                                                                      <input ng-disabled="!vm.connected1 || vm.wait1  || !vm.manual_1" type="checkbox" ng-checked="vm.pumb_1"  ng-click="vm.pumb1Change()">
                                                <div class="slider round"></div>
                                                    </label>
                                                                             </td>
                                                                             <td><label class="switch">
                                                            <input type="checkbox" ng-disabled="!vm.connected1 || vm.wait1  || !vm.manual_1" ng-checked="vm.fan_1"  ng-click="vm.fan1Change()">
                                                             <div class="slider round"></div>
                                                           </label></td>
                                                                             <td><label class="switch">
                                               <input ng-disabled="!vm.connected1 || vm.wait1  || !vm.manual_1" type="checkbox" ng-checked="vm.boiler_1"  ng-click="vm.boiler1Change()">
                                                     <div class="slider round"></div>
                                 </label></td>
                                                   
                                         </tr>
                                
                                      </tbody>
                                </thead>
                            </table>
                        </div>
                        <div class="form-action">
                            <div class="col-md-offset-3 col-md-9 ">

                            </div>
                        </div>
                    </form>
                </div>
            </div>

            
